body,html {
  background-color:#eee;
  height:100%;
  font-family:'Helvetica','Roboto',sans-serif;
  margin:0;
}
.cafeContainer {
  /*float:left;*/
  height:100%;
  width:100%;  
  min-width:24em;
}
.cafeContainer li {
  list-style:none;
  padding-left:5px;  
}

.cafe {
  text-transform:Uppercase;
  font-size:6em;
  font-weight:100;
  background-color:#990011;
  padding:.1em;
  color:#ffffff;
  font-family:'Roboto',"HelveticaNeue-Light", "Helvetica Neue Light",
             "Helvetica Neue",'Calibri Light',sans-serif-light, sans-serif;
  
}